/* @import "tailwindcss"; */

/* @layer base {
  h1 {
    @apply text-4xl font-normal leading-tight;
  }
  h2 {
    @apply text-2xl font-bold leading-snug;
  }
  h3 {
    @apply text-xl font-semibold leading-snug;
  }
  h4 {
    @apply text-lg font-semibold leading-snug;
  }
  h5 {
    @apply text-base font-semibold leading-snug;
  }
  h6 {
    @apply text-sm font-semibold leading-snug uppercase tracking-wide;
  }
} */
